:root{
    --bg-primary-900: #6b2020;
    --bg-primary-800: #8c2a2a;
    --bg-primary-700: #b53636;
    --bg-primary-600: #e84545;
    --bg-primary-500: #ff4c4c;
    --bg-primary-400: #ff7070;
    --bg-primary-300: #ff8787;
    --bg-primary-200: #ffadad;
    --bg-primary-100: #ffc8c8;
    --bg-primary-50: #ffeded;
}