
.Main__Container__SkillSet {
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    align-content: center;
    justify-content: center;
}

.Main__Container__SkillSet h3{
    margin-bottom: 1rem;
}

.Main__Container__SkillSet__List {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1.5rem;
    grid-template-rows: 50% 50%;
    grid-template-areas: "SkillSet__List__1 SkillSet__List__2"
    "SkillSet__List__3 SkillSet__List__4";
}

@media (max-width: 768px) {
    .Main__Container__SkillSet__List {
        height: 100%;
        grid-template-columns:100%;
        grid-gap: 1rem;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: "SkillSet__List__1"
        "SkillSet__List__2"
        "SkillSet__List__3"
        "SkillSet__List__4";
    }
}


.Main__Container__SkillSet__List__Item__1, .Main__Container__SkillSet__List__Item__2, .Main__Container__SkillSet__List__Item__3, .Main__Container__SkillSet__List__Item__4 {
    width: 100%;
    height: 20rem;
    background: #F6F6FF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Main__Container__SkillSet__List i{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.Main__Container__SkillSet__List__Item__2 {
    /*width: 100%;*/
    /*height: 20rem;*/
    /*background: #F6F6FF;*/
    /*border-radius: 8px;*/
}

.Main__Container__SkillSet__List__Item__3 {
    /*width: 100%;*/
    /*height: 20rem;*/
    /*background: #F6F6FF;*/
    /*border-radius: 8px;*/
}

.Main__Container__SkillSet__List__Item__4 {
    /*width: 100%;*/
    /*height: 20rem;*/
    /*background: #F6F6FF;*/
    /*border-radius: 8px;*/
}

